@model IEnumerable<ISIntex.Models.RejectedEstimate>

@{
    ViewBag.Title = "RejectedEstimate";
}

<div class="container body-content" style="padding-top: 50px;">
    <h2>Rejected Estimates</h2>

    <table class="table rejectedEstimateTable">
        <tr>
            <th class="thEndLeft">
                @Html.DisplayNameFor(model => model.EstimateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssayID)
            </th>
            <th class="thEndRight"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimateID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssayID)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.EstimateID })
                </td>
            </tr>
        }

    </table>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <a class="btn btn-lg btn-outline-info btn-block" href="/Home/Login">Back to My Account</a>
        </div>
    </div>
</div>
