@model ISIntex.Models.RejectedEstimate

@{
    ViewBag.Title = "Confirmation";
}
<img src="~/Content/images/pillWoman.jpg" class="center"/>

<h2>Thank you for your Order!! You ordered @Model.Element1Quantity of element @Model.Element1 and you ordered @Model.Element2Quantity of element @Model.Element2 </h2>
<h2> Here are the special requests you listed in the comments: @Model.Comments </h2>

