@model IEnumerable<ISIntex.ViewModels.MyOrders>

@{
    ViewBag.Title = "MyOrderView";
}

<div style="padding: 20px;">
    <h2>MyOrderView</h2>
    <table class="table">
        <tr>
            <th>
                Compound Name
            </th>
            <th>
                Assay
            </th>
            <th>
                Actual Price
            </th>
            <th>
                Quantity (in ml)
            </th>
            <th>
                Molecular Mass
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                Date Received
            </th>
            <th>
                Date Due
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                Order Status
            </th>
            <th>
                Test Results
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompoundName)
            </td>
            <td>
                @if (item.AssayID == 1)
                {
                    @:Biochemical Pharmacology
                }
                else if (item.AssayID == 2)
                {
                    @:DiscoveryScreen
                }
                else if (item.AssayID == 3)
                {
                    @:ImmunoScreen
                }
                else if (item.AssayID == 4)
                {
                    @:ProfilingScreen
                }
                else if (item.AssayID == 5)
                {
                    @:PharmaScreen
                }
                else if (item.AssayID == 6)
                {
                    @:CustomScreen
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MolecularMass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.TestResultFile == null)
                {
                    @: No Test Results
                }
                else
                {
                    @Html.ActionLink("Download Result", "DownloadTestResult", new { LTNum = item.LTNumber })
                }
            </td>

        </tr>
        }
    </table>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <a class="btn btn-lg btn-outline-info btn-block" href="/Home/Login">Back to My Account</a>
        </div>
    </div>
</div>


