@model IEnumerable<ISIntex.ViewModels.SalesByRep>

@{
    ViewBag.Title = "SalesByRep";
}

<div class="container body-content" style="padding-top: 50px;">
    <h2>Sales By Rep</h2>

    <table class="table rejectedEstimateTable">
        <tr>
            <th class="thEndLeft">
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="thEndRight">
                @Html.DisplayNameFor(model => model.TotalRevenue)
            </th>
            
        </tr>

        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRevenue)
            </td>
        </tr>
}

    </table>
</div> 