@model IEnumerable<ISIntex.Models.WorkOrder>

@{
    ViewBag.Title = "workOrder2";
}

<h2>workOrder2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LTNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompoundName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionalTests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MolecularMass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appearance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MTD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestResultFile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LTNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompoundName)
        </td>
        <td>
            @if (item.AssayID == 1)
            {
                @:Biochemical Pharmacology
            }
            else if (item.AssayID == 2)
            {
                @:DiscoveryScreen
            }
            else if (item.AssayID == 3)
            {
                @:ImmunoScreen
            }
            else if (item.AssayID == 4)
            {
                @:ProfilingScreen
            }
            else if (item.AssayID == 5)
            {
                @:PharmaScreen
            }
            else if (item.AssayID == 6)
            {
                @:CustomScreen
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionalTests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MolecularMass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appearance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MTD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestResultFile)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LTNumber }) |
            @Html.ActionLink("Details", "Details", new { id = item.LTNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LTNumber })
        </td>
    </tr>
}

</table>
